<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DQ画布test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC043BEF1E666D6500E01468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC043C081E666D6600E01468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC043C131E666D6600E01468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
